*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


/* Estilo para el contenedor principal */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #2be50a;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para los encabezados */
h1 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
}

/* Estilo para los grupos de formularios */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-family: 'Arial', sans-serif;
    color: #555;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón */
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

/* Estilo para el resultado */
#resultado {
    font-weight: bold;
    color: #e74c3c;
}